/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./app/organisms/imageMenu.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.main {
    width: 80%;
    margin: 1em auto;
    columns: 350px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./app/molecule/PhotoCardComponent/PhotoCard.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 1%;
}

.previewData {
    color: var(--primary-color);
    border-radius: 20px;
    margin-bottom: 8px;
    font-family: sans-serif;
    font-size: 14px;
    pointer-events: none;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: white;
}

.link {
    background-color: transparent;
}

.link:hover {
    cursor: pointer;
    background-color: red;
}

.imageContainer {
    break-inside: avoid;
    background-color: transparent;
    border-radius: 1%;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.1s ease,
                transform 0.25s ease-in,
                margin-bottom 0.3s ease;
}

.imageContainer:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}


