.main {
    width: 95%;
    max-width: 1400px;
    margin: 2rem auto;
    columns: 3;
    column-gap: 20px;
}

@media (max-width: 1200px) {
    .main {
        columns: 2;
    }
}

@media (max-width: 600px) {
    .main {
        columns: 1;
    }
}
