.profile-Stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.profileStat h3 {
    color: white;
    font-size: 1.5rem;
}

.profile-Stat h3 {
    color: white;
    font-size: 1.5rem;
}

.profile-Stat p {
    color: #aaa;
    font-size: 0.85rem;
}

.profile-Stat--link {
    text-decoration: none;
    cursor: pointer;
}

.profile-Stat--link:hover h3,
.profile-Stat--link:hover p {
    color: white;
}