#addPhoto {
    margin-top: 4px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: var(--primary-bg-color);
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    transition: background-color 0.3s ease-in-out, 
                transform 0.25s ease-in-out,
                color 0.4s ease;
}

#addIcon {
    color: white;
}

#addPhoto:hover {
    cursor: pointer;
    background-color: var(--button-hover);
    transform: scale(1.05);
    color: white;
}

#addPhoto:active {
    transform: scale(0.95);
}